@font-face {
   font-family: "Lato Regular";
   src: url(./assets/fonts/lato-regular-webfont.woff2),
      url(./assets/fonts/lato-regular-webfont.woff);
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Lato Bold";
   src: url(./assets/fonts/lato-bold-webfont.woff2),
      url(./assets/fonts/lato-bold-webfont.woff);
   font-weight: normal;
   font-style: normal;
}

:root {
   --right-div-height: 220px;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Lato Regular', sans-serif;
}

main {
   display: flex;
}

.left-side {
   background-image: url(./assets/images/travelsafe-hero.jpg);
   width: 43%;
   height: 100dvh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: -200px;
   position: relative;
   flex-shrink: 0;

   & .logo {
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 150px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
         width: 160px;
         height: auto;
         border-radius: 30px 6px;
      }

      & figcaption {
         color: #888;
         position: absolute;
         bottom: -300px;
         font-size: 14px;
      }
   }
}

.right-side {
   background-color: aliceblue;
   flex: 1 1 auto;

   & .cta-content {
      max-height: var(--right-div-height);
      min-height: var(--right-div-height);
      padding: 130px 0 40px 30px;

      & p {
         word-break: normal;
         max-width: 60ch;
         font-family: 'Lato Bold', sans-serif;
         line-height: 1.6;
         font-size: large;
      }
   }

   & .input-container {
      padding: 40px 30px;
      background-color: #fff;
      max-height: var(--right-div-height);
      min-height: var(--right-div-height);
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);

      & fieldset {
         border: none;
         width: 500px;

         & div {
            display: flex;
            justify-content: space-between;
         }

         & input {
            display: block;
            padding: 2px;
            width: 215px;
            border-radius: 4px;
            margin-top: 2px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            outline: 1px solid rgba(0, 0, 0, 0.2);
         }

         & input:not(input[type="password"]):focus {
            border: 2px solid #0047AB;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
         }

         & input[type="password"]:invalid {
            outline: 1.5px solid red;
         }

         & label {
            margin-bottom: 18px;
            font-size: small;
            letter-spacing: 0.5px;
         }
      }
   }

   & button {
      margin: 30px;
      border: none;
      background-color: #0047AB;
      padding: 10px 35px;
      color: #fff;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
   }

   & > p {
      margin-left: 30px;

      & a {
         text-decoration: none;
         color: #0047AB;
      }
   }
}