@font-face {
   font-family: "Lato Regular";
   src: url(./assets/fonts/lato-regular-webfont.woff2),
      url(./assets/fonts/lato-regular-webfont.woff);
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Lato Bold";
   src: url(./assets/fonts/lato-bold-webfont.woff2),
      url(./assets/fonts/lato-bold-webfont.woff);
   font-weight: normal;
   font-style: normal;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Lato Regular', sans-serif;
}

main {
   display: flex;
}

.left-side {
   background-image: url(./assets/images/travelsafe-hero.jpg);
   width: 43%;
   height: 100dvh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: -200px;
   position: relative;
   flex-shrink: 0;

   & .logo {
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 150px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
         width: 160px;
         height: auto;
      }
   }
}