* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.container {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    color: #f6efef;
    margin-top: 40px;
    background-color: #6b291a;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 11px #000;
    transition: .1s;
}

.container:hover {
    transform: translate(2px, 2px)
}

.container h1 {
    margin-bottom: 35px;
    text-align: center;
    text-decoration: underline;
    font-weight: 900;
}

.container ul {
    margin-left: 35px;
}

.container li::marker {
    color: orange;
    font-size: 30px;
}

.container li a {
    color: #fff;
    font-size: 1.1em;
}

.container ul li a:hover{
    text-decoration: none;
    color: #e6dfdf;
}

.container li a:visited {
    color: #f4e4c7;
}
.container li a:active {
    color: green;
}
.container li a:link {
    color: unset;
}